<div class="list row">
  <div class="col-md-8">
    <div class="toolbar">
      <input
        type="text"
        class="form-control edit"
        placeholder="Search by name"
        [(ngModel)]="name"
      />
      <button
          class="btn btn-outline-secondary"
          type="button"
          (click)="searchByName()"
      >
        Search
      </button>
      <button class="m-4 btn btn-sm btn-danger" (click)="deleteAllskins()">
        Delete All
      </button>
    </div>
  </div>
  <div class="col-md-6">
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let skin of skins; let i = index" [class.active]="i == currentIndex"
        (click)="setCurrentSkin(skin, i)">
        {{ skin.name }}
      </li>
    </ul>

  </div>
  <!--div class="col-md-6">
    <div *ngIf="currentSkin">
      <h4>Skin</h4>
      <div>
        <label><strong>Name:</strong></label>
      </div>
      <div>
        <label><strong>ID:</strong></label>
      </div>
      <div>
        <label><strong>Status:</strong></label>
      </div>

      <a class="badge badge-warning" routerLink="/skins/">
        Edit
      </a>
    </div>

    <div *ngIf="!currentSkin">
      <br />
      <p>Please click on a skin</p>
    </div>
  </div-->
</div>
ID