/* Add application styles & imports to this file! */
.navbar {
  padding: 4px;
  background-color: moccasin;
}

body {
  padding: 0;
  margin: 0;
  font-family: Tahoma;
}

.toolbar {
  background-color: silver;
}

.nav-item {
  padding: 4px;
}

input {
  margin: 4px;
}

.edit {
  border-width: 0;
}
